<!-- Welcome Screen Content -->
<!-- <nav class="header-breadcrumb" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item"><a href="#">Library</a></li>
    <li class="breadcrumb-item active" aria-current="page">Data</li>
  </ol>
</nav> -->


<h2>Welcome</h2>
<div class="d-flex align-items-center">
  <div class="mr-auto">Hello, world!</div>
  <button mat-flat-button color="primary">New</button>
</div>
<br>


<!-- SnackBar -->
<!-- <ng-template #sampleTemplate>
  hello
</ng-template>
<button mat-stroked-button (click)="openBottomSheet()" aria-label="Show an example snack-bar">
  show message
</button> -->


<div fxLayout="row wrap" fxLayoutGap="16px grid">
  <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let num of [1,2,3,4,5,6,7]">
    <mat-card class="example-card">
      <h4 class="text-dark">Shiba Inu</h4>
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-subtitle>
        <p class="m-0">
          <span class="text-dark">ID:</span>
          Dog Breed
        </p>
      </mat-card-subtitle>
    </mat-card>
  </div>
</div>


