<!-- TOP Toolbar -->
<mat-toolbar class="example-header mat-primary">
  <span>SessionManage</span>
  <span class="example-spacer mr-auto"></span>
  <i class="material-icons theme-mode" (click)="switchMode()" matRipple
    matTooltip="{{ 'Switch to ' + (!darkBackground ? 'Dark Mode' : 'Light Mode')}}" [matTooltipPosition]="'below'">
    {{ darkBackground ? 'dark_mode' : 'light_mode'}}
  </i>
</mat-toolbar>

<!-- CONTENT -->
<mat-sidenav-container class="example-container flex-fill">
  <!-- SideNav -->
  <mat-sidenav #sidenav opened class="example-sidenav" [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" [fixedTopGap]="sidenavOptions.value.top" [fixedBottomGap]="sidenavOptions.value.bottom">
    <ng-template ngFor let-page [ngForOf]="pages">
      <a class="item d-flex align-items-center" [routerLink]="[page.link]" routerLinkActive="active"  matRipple matTooltip="{{page.name}}" [matTooltipPosition]="'after'">
        <i class="material-icons">{{page.icon}}</i>
        <span class="pl-2">{{page.name}}</span>
      </a>
      <mat-divider class="mt-2 mb-2" *ngIf="!!page.divider"></mat-divider>
    </ng-template>
  </mat-sidenav>

  <!-- Content -->
  <mat-sidenav-content class="example-content" [ngClass]="{'example-content-override': darkBackground}">
    <!-- <ng-scrollbar> -->
      <router-outlet class="top-level-router"></router-outlet>
      <!-- </ng-scrollbar> -->
  </mat-sidenav-content>

</mat-sidenav-container>
  
  
  <!-- Footer -->
  <!-- <div class="footer">
    <small class="pl-1 pr-1">SessionManage © 2021</small>
  </div> -->
