<h2>Nodes</h2>
<div class="d-flex align-items-center">
  <div class="mr-auto">All nodes available are listed below.</div>
  <!-- <button mat-flat-button color="primary" class="invisible">New</button> -->
  <input placeholder="search node here..." class="search-bar"/>
  <button mat-flat-button color="primary">
    <!-- <i class="material-icons">search</i> -->
    Find
  </button>
</div>
<br>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order. The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <!-- <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container> -->
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef [ngClass]="'w-75'"> Name </th>
      <td mat-cell *matCellDef="let element">
        <code>{{element.name}}</code>
      </td>
    </ng-container>
  
    <!-- IP Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef [ngClass]="'w-75'"> ID </th>
      <td mat-cell *matCellDef="let element">
        <code class="text-muted">{{element.id}}</code>
      </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <!-- <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef [ngClass]="'w-75'"> Symbol </th>
      <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
    </ng-container> -->
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>